@page "/Producto"
@inject NavigationManager navegator
@inject HttpClient http
@using Actividad18.Shared.Models

<h3>Productos</h3>

<button class="btn btn-primary" @onclick=agregar><span class="oi oi-plus"> Agregar Producto</span></button>

@if (c == null)
{
    <h4>Cargando ...</h4>
}
else if (c.Count == 0)
{
    <h4>No hay Productos</h4>
}
else
{
    <table class="table table-responsive">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Descripcion</th>
                <th>Precio</th>
                <th>Categoria</th>
                <th>Disponibilidad</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var i in c)
            {
                <tr>
                    <td>@i.Id</td>
                    <td>@i.nombre</td>
                    <td>@i.descripcion</td>
                    <td>@i.precio</td>
                    <td>@i.categoria</td>
                    <td>@i.disponibilidad</td>
                    <td><button class="btn btn-primary" @onclick="(()=>Cambiar(Convert.ToInt32(i.Id)))">Edit</button></td>
                    <td><button class="btn btn-primary" @onclick="(()=>eliminar(i))">Delete</button></td>
                </tr>
            }
        </tbody>
    </table>
}


@code {
    private List<Productos> c = new List<Productos>();

    protected override async Task OnInitializedAsync()
    {
        c = await http.GetFromJsonAsync<List<Productos>>("api/Productos");
    }

    public void agregar()
    {
        navegator.NavigateTo("/Productos/nuevo");
    }

    private void Cambiar(int id)
    {
        navegator.NavigateTo($"/Productos/edit/{id}");
    }
    public async Task eliminar(Productos producto)
    {
        await http.DeleteAsync($"api/Productos/{producto.Id}");
        c.Remove(producto);
    }
}
